@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #FDA4AF;
  --secondary-color: #9F1239;
}

body {
  margin: 0;
  font-family: 'Atkinson Hyperlegible', sans-serif;
  text-align: center;
  background-color: var(--primary-color);
}

header {
  background-color: var(--secondary-color);
  max-width: 500px;
  margin: auto;
  padding: 0.4rem;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: white;
}

section {
  width: 100%;
  max-width: 500px;
  min-height: 300px;
  margin: auto;
  background-color: var(--secondary-color);
  color: white;
}

section .title {
  padding: 1rem 0;
}

section h3 {
  margin: 1rem;
}

.privacyNote {
width: fit-content;
font-size: small;
display: flex;
justify-content: center;
align-items: center;
padding: 1rem;
margin: 1rem auto;
background-color: #FB7185;
color: black;
font-size: 16px;
border: 0.5px solid #ea300b;
}

#close {
font-weight: 900;
margin-left: 10px;
border-radius: 100%;
padding: 4px 8px;
border: 1px solid var(--secondary-color);
text-align: center;
cursor: pointer;
}

input {
  display: block;
  margin: 1rem auto;
  padding: 0.7rem 0;
  border: 2px solid #E11D48;
  border-radius: 20px;
  outline: none;
}

#luckyNum {
  text-align: center;
  font-size: 16px;
}

#checkBtn {
  padding: 0.3rem 1rem;
  font-size: 14px;
  margin-bottom: 1rem;
  background-color: #FB7185;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  font-weight: bold;
}

.result {
  font-size: 25px;
  font-weight: bold;
  color: black;
}

@media (max-width: 768px) {
.result {
font-size: 18px;
}
.result #size {
width: 300px;
}
}

.footer {
  background-color: var(--secondary-color);
  max-width: 500px;
  margin: 0.1rem auto;
  padding: 0.5rem;
  border-bottom-right-radius: 20px; 
  border-bottom-left-radius: 20px; 
  color: white;
}

footer ul {
  padding-inline-start: 0px;
}

footer ul .list-item-inline {
  display: inline;
  padding: 1rem 0.5rem;
}

footer ul li a {
  text-decoration: none;
}

.color {
  color: black;
  font-size: 25px;
}

#redirect a {
  color: black;
}